<?xml version="1.0"?>
<config>
    <modules>
        <KO_Logger>
            <version>1.0.0</version>
        </KO_Logger>
    </modules>
    <global>
        <helpers>
            <ko_logger>
                <class>KO_Logger_Helper</class>
            </ko_logger>
        </helpers>
        <blocks>
            <ko_logger>
               <class>KO_Logger_Block</class>
            </ko_logger>
        </blocks>
        <models>
            <ko_logger>
                <class>KO_Logger_Model</class>
                <resourceModel>ko_logger_mysql4</resourceModel>
            </ko_logger>
            <ko_logger_mysql4>
                <class>KO_Logger_Model_Mysql4</class>
                <entities>
                    <accesslog>
                        <table>ko_accesslog</table>
                    </accesslog>
                </entities>
            </ko_logger_mysql4>
        </models>
        <resources>
            <ko_logger_setup>
                <setup>
                    <module>KO_Logger</module>
                </setup>
            </ko_logger_setup>
        </resources>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <KO_Logger before="Mage_Adminhtml">KO_Logger_Adminhtml</KO_Logger>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <ko_logger>
                    <file>ko_logger.xml</file>
                </ko_logger>
            </updates>
        </layout>
        <events>
            <controller_action_predispatch>
                <observers>
                    <ko_logger_accesslog_predispatch>
                        <class>ko_logger/observer</class>
                        <method>logAdminhtmlAccess</method>
                    </ko_logger_accesslog_predispatch>
                </observers>
            </controller_action_predispatch>
        </events>
    </adminhtml>
    <crontab>
        <jobs>
            <ko_logger_clear_old_logs>   <!-- Runs once every 5 mintues -->
                <schedule><cron_expr>0/5 * * * *</cron_expr></schedule>
                <run><model>ko_logger/observer::clearOldAccessLogs</model></run>
            </ko_logger_clear_old_logs>
        </jobs>
    </crontab>
    <default>
        <ko_logger_options>
            <general>
                <enabled>0</enabled>
                <clear_logs_frequency>2880</clear_logs_frequency>
                <excluded_paths>accesslog_index&#xD;accesslog_loadparams&#xD;accesslog_clear</excluded_paths>
                <excluded_params>form_key</excluded_params>
            </general>
        </ko_logger_options>
    </default>
</config>
